April Fools' Day Request for Comments

# Mativation

よこち氏の Twitter アカウントに入っている "6592" という文字列は RFC6592 からとったものらしい。調べてみると、RFC6592 はジョーク RFC として知られるものだった。他にもあるので調べてみたい。

# Reference

[RFC 6592\.](https://en.wikipedia.org/wiki/April_Fools%27_Day_Request_for_Comments)

特殊な RFC は他にもあるらしい。

30年、40年、50年のタイミングでは以下のRFC文書でも公開されています。

RFC2555：30 Years of RFCs
RFC5540：40 Years of RFCs
RFC8700：Fifty Years of RFCs

参考：[RFCを検索する「RFC Editor」を触ってみた | Developers.IO](https://dev.classmethod.jp/articles/my-first-rfc-editor/)